// Custom styles.
body{   
        background:url(../images/mine.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

.content {
            margin: 5%;
	    padding: 5%;
            background:rgba(255,255,255,0.3) none repeat scroll !important;
         }
	    // border-radius: 10%;

.main-inner {width: 90%;}

